@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 30% 14%;
    --card: 0 0% 100%;
    --card-foreground: 220 30% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 30% 14%;
    --primary: 122 40% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 91% 55%;
    --secondary-foreground: 220 30% 14%;
    --muted: 75 20% 90%;
    --muted-foreground: 122 20% 30%;
    --accent: 75 55% 50%;
    --accent-foreground: 220 30% 14%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 75 20% 85%;
    --input: 75 20% 85%;
    --ring: 122 40% 39%;
    --chart-1: 122 40% 39%;
    --chart-2: 38 91% 55%;
    --chart-3: 75 55% 50%;
    --chart-4: 25 50% 28%;
    --chart-5: 220 30% 14%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 220 30% 14%;
    --sidebar-primary: 122 40% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 75 20% 92%;
    --sidebar-accent-foreground: 220 30% 14%;
    --sidebar-border: 75 20% 85%;
    --sidebar-ring: 122 40% 39%;
  }
  .dark {
    --background: 220 30% 14%;
    --foreground: 0 0% 98%;
    --card: 220 25% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 220 25% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 122 40% 50%;
    --primary-foreground: 220 30% 14%;
    --secondary: 38 91% 60%;
    --secondary-foreground: 220 30% 14%;
    --muted: 220 20% 25%;
    --muted-foreground: 75 20% 70%;
    --accent: 75 55% 55%;
    --accent-foreground: 220 30% 14%;
    --destructive: 0 60% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 25%;
    --input: 220 20% 25%;
    --ring: 122 40% 50%;
    --chart-1: 122 40% 50%;
    --chart-2: 38 91% 60%;
    --chart-3: 75 55% 55%;
    --chart-4: 25 50% 35%;
    --chart-5: 220 30% 20%;
    --sidebar-background: 220 30% 14%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 122 40% 50%;
    --sidebar-primary-foreground: 220 30% 14%;
    --sidebar-accent: 220 20% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 20% 25%;
    --sidebar-ring: 122 40% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
